body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; /* Dark grey */
    color: #ddd; /* Light grey text */
  }
  
  header {
    background-color: #333; /* Darker grey */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #888;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #fff;
  }
  
  .logo img {
    height: 40px;
    width: auto;
  }
  
  .user-profile {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user-profile:hover {
    background-color: #ccc;
  }
  
  .user-details-panel {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .user-details-panel.show {
    display: block;
  }
  
  .stock-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #444; /* Dark grey */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .stock-line:hover {
    background-color: #555; /* Slightly darker grey on hover */
  }
  
  .company-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .stock-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .stock-price, .stock-change {
    margin-left: 10px;
  }
  
  .stock-details-container {
    display: none;
    width: 100%;
  }
  
  .stock-details.open {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .details-wrapper {
    display: flex;
  }
  
  .chart-container {
    width: 75%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .details-container {
    width: 25%;
    padding: 20px;
    background-color: #222121;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .chart {
    width: 100%;
    height: 100%;
  }
  
  .stock-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .stock-price-detail, .stock-quantity {
    margin-bottom: 10px;
  }
  
  .total-amount {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  /* Add styles for the buttons */
  button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #626862; /* Green */
    color: white; /* White text */
  }
  
  button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .timer {
    font-size: 18px;
    font-weight: bold;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  header nav ul li:nth-child(2) a {
    color: #fff; /* Set the color of the "Sector" link to white */
  }
  
  .stock-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
}

  
  .stock-actions button {
    background-color: #6c757d; /* Grey color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px; /* Rounded corners */
  }
  
  .stock-actions button:hover {
    background-color: #5a6268; /* Darker grey on hover */
    transform: scale(1.05); /* Slightly larger on hover */
  }
  
  .stock-actions button:active {
    background-color: #545b62; /* Even darker grey on active click */
    transform: scale(1); /* Normal size on active click */
  }
  
  .stock-actions button:focus {
    outline:none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(108, 117, 125, 0.5); /* Custom focus outline */
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Form input styles */
  .modal-content input[type="text"],
  .modal-content input[type="number"],
  .modal-content button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Button styles */
  .modal-content button {
    background-color: #4c4d4c;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #4c4d4c;
  }
  .back-button {
    background-color: #ddd; /* Light grey */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: fixed; /* Fixed position at bottom left */
    bottom: 10px;
    left: 10px;
    z-index: 1000; /* Ensure it is on top of other elements */
}

.back-button:hover {
    background: #bbb;
}