body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #ddd;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .transaction-list {
    list-style: none;
    padding: 0;
  }
  
  .transaction-list li {
    padding: 10px;
    border-bottom: 1px solid #555;
  }
  
  .transaction-list li:last-child {
    border-bottom: none;
  }
  
  .transaction-list li strong {
    color: #ddd;
  }
  
  .transaction-list li span {
    color: #bbb;
  }
  header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #aaa;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #fff;
  }
  
  .logo img {
    height: 40px;
    width: auto;
  }
  
  .user-profile {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user-profile:hover {
    background-color: #ccc;
  }
  
  .user-details-panel {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .user-details-panel.show {
    display: block;
  }
  
  button {
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }